/*====  css reset  ====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*====  my reset  ====*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/*====  global  ====*/

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 66.66rem;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    display: flex;
}

html {
    font-size: 18px;
}

/*====  typography  ====*/

body {
    font-family: 'Roboto', sans-serif;
    color: #88898C;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #020511;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: #fff;
}

small {
    font-size: 1.1rem;
}

/*====  header  ====*/

.header {
    background: #222946;
    padding: 0.55rem 0;
}

.logo {
    flex: 0 1 13%;
}

.nav-bar a {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 2.2rem;
}

.active {
    color: #37B667;
}

/*====  intro section  ====*/

.hero-sec {
    background-color: #E9ECFC;
    padding: 4% 0;
}

.flex-align {
    align-items: flex-start;
}

.hero-sec p {
    margin: 1.1rem 0;
}

.hero-text,
.hero-img {
    flex: 0 1 48%;
}

.hero-img {
    font-size: 0;
}

.btn {
    display: inline-block;
    background-color: #37B667;
    border-radius: 5px;
    padding: 2% 5%;
}

.btn-big {
    font-size: 1.3rem;
}

/*====  article section  ====*/

.article-sec {
    padding: 5% 0;
}

h1 {
    text-align: center;
    margin-bottom: 3%;
}

.article {
    flex: 0 1 30%;
}

.article p {
    padding: 4% 0;
    font-size: .9rem;
}

.article h3 {
    padding-top: 2%;
}

/*====  footer  ====*/

.footer {
    padding: 3% 0;
    background: #222946;
    font-weight: 700;
}

.icon-nav {
    flex: 0 1 8%;
}

.icon-nav a {
    font-size: 1rem;;
    display: inline-block;
    color: #222946;
    background: #BCC0D2;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0;
    margin-left: 1.6rem;
    border-radius: 5px;
}

/*====  media query  ====*/

@media screen and (max-width: 768px) {

    /*====  global  ====*/

    .flex-between {
        flex-direction: column;
    }

    /*====  header  ====*/

    .header {
        padding: 3% 0;
    }
    
    .logo {
        width: 25%;
        padding-bottom: 1%;
    }

    .nav-bar a {
        margin: 0 1.4rem;
    }
    
    /*====  intro section  ====*/

    .hero-img {
        padding-bottom: 5%;
    }

    .order-1 {
        order: 1;
    }

    .hero-text,
    .hero-img {
        width: 100%;
    }

    .btn-big {
        font-size: 1.5rem;
    }

    /*====  article section  ====*/

    .col-100 {
        flex: 0 1 100%;
    }

    .article:not(.article-3) {
        padding-bottom: 5%;
    }

    /*====  footer  ====*/
    
    small {
        padding-bottom: 0.9rem;
    }

    .icon-nav a {
        margin: 0 0.9em;
    }
    
}